<!DOCTYPE html>
<html>

<head>
	<title>Storybook</title>
	<link href="{{ url_for('static', filename='home_design.css') }}" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>

<body>
	<center>
		
	<header class="header">
		<h1>Storybook</h1>
		<h2>Make your words come to life</h2>
		<a href="#about" class="button1">
			Learn More
		</a>
		<div id="downArrow">
			<p><a href="#about"><b>\/</b></a></p>
		</div>
	</header>

	<div id="about">
	<h3>Project Purpose</h3>
		<p>Create an application that allows writers to organize their ideas and thoughts in one place while giving them the ability</br>
			to interact	and collaborate with other users.
		</p>

	<h3>Timeline</h3>
		<h4>Week 1</h4>
			<p>Create a working home page and login/create account page.</br>
				Allow users to create accounts and login with these accounts.</br>
				Create a text editor interface where users can write.</br>
				Have functioning backend so website can be visited through localhost.</p>
		<h4>Week 2</h4>
			<p>Improve text interface to a more notebook style.</br>
			Allow each notebook to have multiple tab and users to have multiple notebooks (similar to OneNote).</br>
			Create editing functionality (similar to editing mode on google docs).</br>
			Enable project sharing between different users.</p>
		<h4>Week 3</h4>
			<p>Give users certain access levels (editing/viewing) for specific projects.</br>
			Allow users to leave comments on people’s stories.</br>
			Create a timeline/scheduling/agenda page where users can create tasks (similar to trello).</br>
			Allow specific tasks to be assigned and shareable to other users.</p>
		<h4>Week 4</h4>
			<p>Improve website UI and make any final touches.</br>
			Create public portal where users can submit for anyone to see.</br>
			Add additional features (plot timeline planning, etc).</br>
			Allow users to download their story in docx and pdf form.</p>
	</div>

	<a href="/login" class="button2">
		Get Started Now!
	</a>

	</center>

</body>
</html>